@model Complaints 

<div class="card" style="width: 20rem;">
  @*<img src="..." class="card-img-top" alt="...">*@
  <div class="card-body">

        <span class="font-weight-bold me-2"> Customer Name:</span>@Model.Buyer.First_Name
        <span class="font-weight-bold me-2">
            Product Provider:</span>@Model.Seller.First_Name
            <span class="font-weight-bold me-2">
                Product Name:</span>@Model.Product.Name
        <span class="font-weight-bold me-2">
            Description:
        </span>
    <p class="card-text">@Model.Noted</p>
    <a href="#" class="btn btn-primary">Replay</a>
  </div>
</div>
