<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Commerce_Admin_Dashboard_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_Commerce_Admin_Dashboard_MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PagedList.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />

    <style>
        .field-validation-valid
        {
            color:red;
        }
    </style>
    @*//////////////*@
    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">

    <link rel="stylesheet" href="~/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>